body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  form {
    background-color: #111;
    padding: 20px;
    color: white;
    text-align: center;
  
    h1 {
      color: rgb(167, 51, 167);
      margin-bottom: 20px;
    }
  
    label {
      margin-bottom: 10px;
    }
  
    input[type="text"] {
      padding: 10px;
      margin-bottom: 15px;
      background-color: #333;
      color: white;
      border: none;
      border-radius: 5px;
      margin-left: 6px;
    }
    input[type="date"] {
        padding: 10px;
        margin-bottom: 15px;
        background-color: #333;
        color: white;
        border: none;
        border-radius: 5px;
        margin-left: 6px;
      }
  
    button[type="submit"] {
      padding: 10px 20px;
      background-color: var(--color-primary); 
      color:rgb(167, 51, 167);
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    
    // Estilos para los mensajes de error
    .ng-invalid.ng-touched {
      border-color: red;
    }
    
    .error-message {
      color: red;
      font-size: 12px;
      margin-top: 5px;
    }
  }
  